* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shear code start */

/* coloe section start  */
:root {
    --one-color: #FF900E;
    --two-color: #FF900E10;
    /* text-color */
    --three-text: #727272;
    --four-text: #424242;
    --five-text: #131313;
}

/* coloe section end */

.homebar,
.quick-list-container,
.homebar img,
.features-container,
.facts-container,
.sponspors-container,
.footer-container {
    max-width: 1420px;
    margin: 0 auto;
}

.btn {
    outline: none;
    border: none;
    background-color: var(--one-color);
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
}

/* shear code end */
body {
    font-family: "Work Sans", sans-serif;
}

/* Header section code start */
header {
    background-color: var(--two-color);
}

/* navigation section code start */
nav {
    padding-top: 50px;
    white-space: nowrap;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}


.logo {
    font-size: 2.81rem;
    font-weight: bold;
}

.bar ul li {
    margin-left: 77px;
}

.bar li a {
    text-decoration: none;
    color: var(--four-text);
}

.bar ul {
    display: flex;
    list-style: none;
    align-items: center;

    font-size: 1.125rem;
    color: var(--four-text);
    font-weight: 500;
}

/* navigation section code end */

/* hero-banner section code start */
.hero-container {
    text-align: center;
}

.hero {
    margin-bottom: 50px;
}

.hero-container h1 {
    font-size: 4rem;
    margin-bottom: 40px;
}

.hero p {
    max-width: 868px;
    margin: 0 auto;
    color: var(--three-text);
    margin-bottom: 32px;
}

.hero-container img {
    margin-bottom: 45px;
    max-width: 100%;
}

/* hero-banner section code end */

/* Header section code end */



/* responsive design start*/

/* navigation bar and hero banner section responsive code start */
@media screen and (max-width:898px) {

    .nav-bar {
        flex-direction: column;
    }

    .bar {
        margin-top: 20px;
    }
}

@media screen and (max-width:532px) {

    .bar ul {
        flex-direction: column;
        gap: 10px;
    }

}

/* navigation bar and hero banner section responsive code end */

/* responsive design end */


/* main code start */

/* Quick list section design start */
.quick-list-container {
    margin-top: 85px;
}

.quick-list img {
    max-width: 100%;
}

.quick-list-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.quick-list {
    display: flex;
    align-items: center;
    gap: 130px;
}

.quick-list .quick-list-text h4 {
    font-size: 2.81rem;
    font-weight: 500;
    color: var(--three-text);
    margin-bottom: 24px;
}

.quick-list .quick-list-text h4 .bold-span {
    font-weight: bold;
    color: var(--five-text);
}

.quick-list .quick-list-text h4 .color-span {
    font-weight: bold;
    color: var(--one-color);
}

.quick-list-text p {
    line-height: 24px;
    color: var(--three-text);
    max-width: 587px;
    margin-bottom: 32px;
}

/* Quick list section design end */

/* responsive design start*/
/* quick list section responsive code start */
@media screen and (max-width:898px) {
    .quick-list {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:532px) {
    .quick-list-img {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

/* quick list section responsive code end */
/* main code end */
/* Features section code start */
.features-container {
    margin-top: 130px;
}

.heading-section h2 {
    font-size: 2.81rem;
    color: var(--five-text);
    border-left: 5px solid var(--one-color);
    padding-left: 20px;
    margin-bottom: 24px;
}

.heading-section p {
    color: var(--three-text);
    max-width: 587px;
    margin-bottom: 30px;
}

.features {
    display: flex;
    align-items: center;
    gap: 140px;
    justify-content: space-between;
}


.card {
    max-width: 586px;
    background-color: white;
    padding: 30px 42px;
    box-shadow: 0px 4px 30px #00000020;
    margin-bottom: 20px;
    border-radius: 8px;
}

.card h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    line-height: 26px;
    color: var(--three-text);
}

.card-img img {
    width: 100%;
}

.experience-text {
    background-color: var(--one-color);
    text-align: center;
    padding: 45px 42px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-left: -70px;
    margin-top: -125px;
}

.experience-text .bold {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-wrap: nowrap;
    margin-bottom: 10px;
}

.experience-text span {
    font-size: 1.56rem;
    font-weight: 500;
    color: white;
}

/* Features section code end */
/* Features section responsive code start */

@media screen and (max-width:532px) {
    .features {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .experience-text {
        margin-top: 15px;
        margin-left: 0;

    }

    .card-img img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (max-width:700px) {
    .heading-section h2 {
        padding-left: 0;
    }
}

@media screen and (max-width:1040px) {
    .features {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .experience-text {
        margin-top: 15px;
        margin-left: 0;

    }

    .card-img img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* Features section responsive code end */

/* Facts section code start */
.facts-container {
    margin-top: 130px;
    margin-bottom: 180px;
}

.facts-heading-section h2 {
    font-size: 2.81rem;
    color: var(--five-text);
    margin-bottom: 24px;
}

.facts-heading-section p {
    color: var(--three-text);
    max-width: 587px;
    margin-bottom: 100px;
}

.facts-card {
    border: 1px solid var(--one-color);
    padding: 45px 36px;
    width: 245px;
    border-radius: 8px;
    text-align: center;
}

.facts-card img {
    margin-bottom: 15px;
}

.facts-card h6 {
    font-size: 2.81rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.facts-card p {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--three-text);
}

.facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

/* Facts section code end */

/* Facts section responsive code start */

@media screen and (max-width:1040px) {
    .facts {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 0px;
    }
}

@media screen and (max-width:890px) {
    .facts {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 0px;
    }

    .facts-heading-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:532px) {
    .facts {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 0px;
    }
}

/* Facts section responsive code end */

/* sponspors section code start */
.sponspors-heading-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.sponspors-heading-section h2 {
    font-size: 2.81rem;
    color: var(--five-text);
    margin-bottom: 24px;
}

.sponspors-heading-section p {
    max-width: 540px;
    line-height: 26px;
    color: var(--three-text);
}

.sponspors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    filter: grayscale(100%);
    margin-bottom: 130px;
}

/* sponspors section code end */

/* sponspors section responsive code start */
@media screen and (max-width:1040px) {
    .sponspors {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 0px;
    }
}

@media screen and (max-width:890px) {
    .sponspors {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 0px;
    }
}

@media screen and (max-width:532px) {
    .sponspors {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/* sponspors section responsive code end */
/* footeer section code start */
.footer-container {
    background-color: var(--two-color);
    border-radius: 8px;
}

.footer-container p {
    font-size: 1.25rem;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 230px;
    color: var(--four-text);
}

/* footeer section code end */