* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shear code start */

/* coloe section start  */
:root {
    --one-color: #FF900E;
    --two-color: #FF900E10;
    /* text-color */
    --three-text: #727272;
    --four-text: #424242;
    --five-text: #131313;
}

/* coloe section end */

.homebar,
.homebar img {
    max-width: 1620px;
    margin: 0 auto;
}

.btn {
    outline: none;
    border: none;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
}

/* shear code end */
/* main code start */
body {
    font-family: "Work Sans", sans-serif;
}

/* Header section code start */
header {
    background-color: var(--two-color);
}

/* navigation section code start */
nav {
    padding-top: 50px;
    white-space: nowrap;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}


.logo {
    font-size: 2.81rem;
    font-weight: bold;
}

.bar ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 77px;
    font-size: 1.125rem;
    color: var(--four-text);
    font-weight: 500;
}

/* navigation section code end */

/* hero-banner section code start */
.hero-container {
    text-align: center;
}

.hero {
    margin-bottom: 50px;
}

.hero-container h1 {
    font-size: 4rem;
    margin-bottom: 40px;
}

.hero p {
    max-width: 868px;
    margin: 0 auto;
    color: var(--three-text);
    margin-bottom: 32px;
}

.hero-container img {
    margin-bottom: 45px;
    max-width: 100%;
}

/* hero-banner section code end */

/* Header section code end */

/* main code end */

/* responsive design start*/

/* navigation bar and hero banner section responsive code start */
@media screen and (max-width:898px) {

    .nav-bar {
        flex-direction: column;
    }

    .bar {
        margin-top: 20px;
    }
}

@media screen and (max-width:532px) {

    .bar ul {
        flex-direction: column;
        gap: 10px;
    }

}

/* navigation bar and hero banner section responsive code end */

/* responsive design end */